.header {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__nav {
  display: flex;
  align-items: center;
  margin: 0 10px;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  cursor: pointer;
}
.header__optionLineOne {
  color: white;
  font-size: 12px;
}
.header__optionLineTwo {
  color: white;
  font-size: 13px;
  font-weight: 800;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.input__search {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__option__basket {
  display: flex;
  align-items: center;
}
.shopping__cart__icon {
  color: white;
}

.header_basketCount {
  margin: 0 10px;
}
