.shoppingItem {
  margin: 10px 0 10px 0;
  display: flex;
}

.itemImage {
  max-width: 300px;
  max-height: 500px;
  margin-right: 40px;
}

.item__description > h3 {
  padding: 0;
  margin-bottom: 5px;
}
.item__price {
  margin-bottom: 5px;
}

.item__rating {
  margin-bottom: 5px;
}

.item__button {
  color: #111;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  border: 1px solid;
}
